.register-container{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 20px;
}

.register-container h4{
    margin-top: 20px;
}

.register-form{
    margin-top: 60px;
    width: 100%;
}

.register-form input{
    width: 90%;
    margin: 3px;    
}

.register-form button{
    width: 93.5%;
    margin: 7px;
    padding: 5px 0px 5px 10px;
    background-color: var(--my-grey);
    color: white;    
}

.register-form select{
    width: 93.5%;
    margin: 3px; 
    border-radius: 4px;
    padding: 5px 0px 5px 10px;
    border: 1px solid var(--my-grey);
}