.list-with-btn-container{
    width: 90%;
    margin: 15px;
}

.list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.test-item{
    border-radius: 4px;
    padding: 5px 0px 5px 10px;
    border: 1px solid var(--my-grey);
    margin: 7px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.test-item .btn{
    margin: 0px 3px;
    font-size: 12px;
    padding: 0px 5px;
}

.list-header .btn{
    margin: 0px 3px;
    font-size: 12px;
    padding: 0px 5px;
    color: white;
    background-color: var(--my-grey);
}

hr{
    margin: 5px 0px;
}